.popup__confirm-button {
    height: 50px;
    background-color: #000;
    color: #fff;
    border: 0;
    border-radius: 2px;
    transition: 0.2s;
    margin: 0 36px 38px 36px;
    width: calc(100% - 36px - 36px);
    padding: 0;
    cursor: pointer;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.popup__confirm-button:hover {
    opacity: 0.8;
    transition: 0.2s;
}

@media screen and (max-width: 720px) {
    .popup__confirm-button {
        margin-top: 45px;
        font-size: 14px;
        line-height: 17px;
    }
}
