.element__like {
    background-color: unset;
    border: unset;
    height: 19px;
    width: 22px;
    background-image: url('../../../src/images/like.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition: .2s;
    padding: 0;
    cursor: pointer;
}

.element__like:hover {
    opacity: .6;
    transition: .2s;
}