.profile__edit-button {
    display: flex;
    align-self: end;
    width: 24px;
    height: 24px;
    background-image: url(../../../images/edit-button.svg);
    padding-bottom: 7px;
    background-repeat: no-repeat;
    background-size: contain;
    transition: .2s;
}

.profile__edit-button:hover {
    opacity: .6;
    transition: .2s;
}