.element__delete {
    width: 18px;
    position: absolute;
    right: 15px;
    top: 18px;
    cursor: pointer;
    height: 19px;
    background-color: unset;
    border: none;
    background-image: url(../../../images/bucket.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}