.element__delete {
    max-width: 18px;
    position: absolute;
    right: 15px;
    top: 18px;
    cursor: pointer;
    opacity: 0;
}

.element:hover > .element__delete {
    opacity: 1;
    transition: .2s;
}

@media screen and (max-width: 1200px) {
    .element__delete {
        opacity: 1;
    }
}