.element__delete {
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    width: 18px;
    position: absolute;
    right: 15px;
    top: 18px;
    cursor: pointer;
    height: 19px;
    background-color: unset;
    border: none;
    background-image: url(../../../src/images/bucket.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.element:hover > .element__delete {
    visibility: visible;
    opacity: 1;
    transition: .3s;
}