.header {
    margin: 45px auto 40px auto;
    max-width: 880px;
    border-bottom: solid 1px;
    border-color: rgba(84,84,84, 0.7);
}

@media screen and  (max-width: 900px) {
    .header {
        margin: 45px 19px 40px  19px;
    }
}

@media screen and  (max-width: 720px) {
    .header {
        margin: 28px 0 42px 0;
    }
}