.popup__close-button {
    width: 40px;
    height: 40px;
    background-image: url(../../../src/images/close-button.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: -40px;
    top: -40px;
    transform: rotate(45deg);
    transition: .2s;
    cursor: pointer;
    border: none;
    background-color: unset;
}

.popup__close-button:hover {
    opacity: .6;
    transition: .2s;
}

@media screen and (max-width:720px) {
    .popup__close-button {
        width: 26px;
        height: 26px;
        right: 0;
    }
}