.popup__form-button {
    height: 50px;
    background-color: #000;
    color: #fff;
    border: 0;
    border-radius: 2px;
    transition: .2s;
    margin-top: 48px;
    padding: 0;
    cursor: pointer;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}



.popup__form-button:hover {
    opacity: .8;
    transition: .2s;
}

@media screen and (max-width: 720px) {
    .popup__form-button {
        margin-top: 45px;
        font-size: 14px;
        line-height: 17px;
    }
}