.profile__avatar-cover {
    height: 126px;
    width: 126px;
    background-color: rgba(0,0,0,0.8);
    background-image: url(../../../src/images/edit-button-pencil.svg);
    background-repeat: no-repeat;
    background-size: 26px;
    background-position: center;
    position: absolute;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
    transition: .3s;
}

.profile__avatar-cover:hover {
    opacity: 1;
    transition: .3s;
}
